In [1]:
import os
import pandas as pd
import numpy as np
import random

In [2]:
county_data_name = 'Assessor_Parcels_Data_-_2019' # we're going to start with one file

In [3]:
path = os.getcwd()
files = os.listdir(path)
files = [f for f in files if f[-4:] == 'xlsx']
files[:5]

['Alliance March 2018.xlsx',
 'Alliance NRG Part B Oct 2018.xlsx',
 'AllianceNRG -  Part B - March 2019.xlsx',
 'AllianceNRG March 2016.xlsx',
 'AllianceNRG Oct 2016.xlsx']

In [4]:
pdata = pd.read_csv(r"C:\Users\kas\Downloads\Complete\Assessor_Parcels_Data_-_2019.csv", engine = 'python')
pdata.head()

,ï»¿ZIPcode,TaxRateArea_CITY,AIN,RollYear,TaxRateArea,AssessorID,PropertyLocation,PropertyType,PropertyUseCode,GeneralUseType,...,HouseFraction,StreetDirection,StreetName,UnitNo,City,ZIPcode5,rowID,CENTER_LAT,CENTER_LON,Location 1
0,91789-4036,DIAMOND BAR,8765017031,2019,10173,8765-017-031,20924 QUAIL RUN DR DIAMOND BAR CA 91789,SFR,0100,Residential,...,NaN,NaN,QUAIL RUN DR,NaN,DIAMOND BAR CA,91789.0,20198765017031,33.982467,-117.848366,"(33.98246687, -117.84836647)"
1,91789-4060,DIAMOND BAR,8765020011,2019,11950,8765-020-011,20923 E CANYON RIDGE LN DIAMOND BAR CA 91789,SFR,0100,Residential,...,NaN,E,CANYON RIDGE LN,NaN,DIAMOND BAR CA,91789.0,20198765020011,33.976384,-117.849724,"(33.97638402, -117.84972393)"
2,91789-4085,DIAMOND BAR,8765021098,2019,10328,8765-021-098,"20783 E CREST LN, #D WALNUT CA 91789",CND,010C,Residential,...,NaN,E,CREST LN,#D,WALNUT CA,91789.0,20198765021098,33.979641,-117.853396,"(33.97964088, -117.85339604)"
3,91789-4000,DIAMOND BAR,8765022038,2019,10190,8765-022-038,20740 E RIM LN DIAMOND BAR CA 91789,SFR,0100,Residential,...,NaN,E,RIM LN,NaN,DIAMOND BAR CA,91789.0,20198765022038,33.981122,-117.853957,"(33.98112249, -117.85395656)"
4,91765,DIAMOND BAR,8765023039,2019,10067,8765-023-039,20620 PEACEFUL WOODS DR DIAMOND BAR CA 91765,CND,01DC,Residential,...,NaN,NaN,PEACEFUL WOODS DR,NaN,DIAMOND BAR CA,91765.0,20198765023039,33.988432,-117.853275,"(33.988432, -117.85327457)"

In [5]:
ids = []
bad_files = []
col_name = 'Assessor\'s Parcel Number (APN)  '
for f in files:
    tmp = pd.read_excel(f, header = 5)
    if not (col_name in tmp.columns) or not (tmp.columns[0] == col_name):
        bad_files.append(f)
    else:
        tmp = tmp[col_name]
        ids.extend(tmp)
print('bad files ',len(bad_files), ', total ID\'s ', len(ids))

bad files:  8 total ID's:  163188

In [8]:
bad_files

['CAFIRST - CSCDA - Part B - March 2019.xlsx',
 'CAFIRST LA County - Part B - March 2019.xlsx',
 'CSCDA Hero  March 2018.xlsx',
 'CSCDA HERO - Part B - March 2019.xlsx',
 'CSCDA HERO Part B Oct 2018.xlsx',
 'LA County HERO Part B Oct 2018.xlsx',
 'LA HERO - Part B - March 2019.xlsx',
 'LA HERO March 2018.xlsx']

In [9]:
x = random.choice(bad_files)
print(x)

CSCDA HERO - Part B - March 2019.xlsx

In [10]:
bad_files2 = []
col_name = 'Assessor\'s Parcel Number (APN)'  # there was a space at the end that these guys took out
for f in bad_files:
    tmp = pd.read_excel(f, header = 5)
    if not (col_name in tmp.columns) or not (tmp.columns[0] == col_name):
        bad_files2.append(f)
    else:
        tmp = tmp[col_name]
        ids.extend(tmp)
print('bad files ',len(bad_files2), ', total ID\'s ', len(ids))

bad files:  6 total ID's:  164405

In [11]:
x = random.choice(bad_files2)
print(x)

LA County HERO Part B Oct 2018.xlsx

In [12]:
y = pd.read_excel(x, header = 5)
y.head()

,Reporting Period (mm/dd/yy--mm/dd/yy):,1/1/2018 -- 6/30/2018,Administrative Fee Due:,Unnamed: 3,None
0,Enter Financing information beginning in row 8...,None,None,None,None
1,"""Principal Amount"" should include closing fees...",None,None,None,None
2,Assessor's Parcel Number (APN),Principal Amount,Annual Assessment Amount,Maturity Date,Origination Date
3,5455005032,16622.4,1959.82,2032-11-01 00:00:00,2018-02-07 00:00:00
4,5521021008,10185,2319.42,2022-11-01 00:00:00,2018-01-24 00:00:00

In [13]:
y = pd.read_excel(x, header = 8)   #these guys seem to have put the column names in the 8th row
y.head()

,Assessor's Parcel Number (APN),Principal Amount,Annual Assessment Amount,Maturity Date,Origination Date
0,5455005032,16622.44,1959.82,2032-11-01,2018-02-07
1,5521021008,10185.04,2319.42,2022-11-01,2018-01-24
2,5649021007,92693.30,7804.17,2042-11-01,2018-03-07
3,5666012002,15691.21,1443.66,2042-11-01,2018-05-16
4,5689018013,59874.41,14505.20,2022-11-01,2018-01-24

In [14]:
len(ids)

164405

In [15]:
bad_files3 = []
col_name = 'Assessor\'s Parcel Number (APN)'
for f in bad_files2:
    tmp = pd.read_excel(f, header = 8)
    if not (col_name in tmp.columns) or not (tmp.columns[0] == col_name):
        bad_files3.append(f)
    else:
        tmp = tmp[col_name]
        ids.extend(tmp)
print('bad files ',len(bad_files3), ', total ID\'s ', len(ids))

bad files:  0 total ID's:  172568

In [16]:
ids[:5]

['010-0134-017-0000',
 '157-295-05-00',
 '493-203-07-00',
 '0059-092-280',
 '017-490-063-9']

In [17]:
filtered = pdata[pdata.AssessorID.isin(ids)]
filtered.shape

(12101, 51)

In [18]:
filtered.head()

,ï»¿ZIPcode,TaxRateArea_CITY,AIN,RollYear,TaxRateArea,AssessorID,PropertyLocation,PropertyType,PropertyUseCode,GeneralUseType,...,HouseFraction,StreetDirection,StreetName,UnitNo,City,ZIPcode5,rowID,CENTER_LAT,CENTER_LON,Location 1
1056,91789-3530,unincorporated,8764016015,2019,8322,8764-016-015,1928 RADCLAY DR WALNUT CA 91789,SFR,0100,Residential,...,NaN,NaN,RADCLAY DR,NaN,WALNUT CA,91789.0,20198764016015,33.984956,-117.859498,"(33.98495641, -117.85949761)"
1254,91765-3461,DIAMOND BAR,8765010024,2019,10068,8765-010-024,21139 TRIGGER LN DIAMOND BAR CA 91765,SFR,0101,Residential,...,NaN,NaN,TRIGGER LN,NaN,DIAMOND BAR CA,91765.0,20198765010024,33.976302,-117.844966,"(33.97630227, -117.84496593)"
2222,91789-3414,unincorporated,8764001075,2019,8322,8764-001-075,2055 DACIAN ST WALNUT CA 91789,CND,010C,Residential,...,NaN,NaN,DACIAN ST,NaN,WALNUT CA,91789.0,20198764001075,33.982224,-117.865271,"(33.98222416, -117.86527056)"
3827,91748-2312,unincorporated,8762009042,2019,8322,8762-009-042,1343 LINDENGROVE AVE ROWLAND HEIGHTS CA 91748,SFR,0100,Residential,...,NaN,NaN,LINDENGROVE AVE,NaN,ROWLAND HEIGHTS CA,91748.0,20198762009042,33.991782,-117.877171,"(33.99178151, -117.8771706)"
5351,91744-4116,unincorporated,8745023010,2019,5613,8745-023-010,515 RUTHCREST AVE LA PUENTE CA 91744,SFR,0104,Residential,...,NaN,NaN,RUTHCREST AVE,NaN,LA PUENTE CA,91744.0,20198745023010,34.028476,-117.933301,"(34.02847593, -117.93330138)"

In [19]:
file_name = county_data_name + '_filtered.csv'
filtered.to_csv(file_name, index = False)